* {
    font-family: 'Inter', sans-serif;
}

.fs-45 {
    font-size: 30px;
}

.fs-30 {
    font-size: 30px;
}

.fs-20 {
    font-size: 15px;
}

/* header */
header {
    background-color: rgb(16, 144, 216, 0.1);
}

header h2,
.result h4 {
    color: rgb(18, 18, 18, .8);
}

/* cards */
.shape {
    height: 100px;
}

.shape-title {
    font-size: 25px;
    color: #414141;
}

.form-control {
    background-color: #f1f1f1 !important;
}

::placeholder {
    color: #414141;
}

.cards-holder .card {
    cursor: pointer;
    transition: 0.4s;
}

/* calculation */
.calculation-card {
    min-height: 300px;
}

li {
    font-size: 14px;
}

li button {
    font-size: 13px;
}

ol {
    padding-left: 10px;
}




/* blogs */
/* light blue and skyblue linear background with 30% background opacity */
.linear {
    background: linear-gradient(90deg, rgba(16, 144, 216, 0.3), rgba(0, 255, 255, 0.3));
}